<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1757332198"
    android:versionName="3.64.24"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="ru.mes.dnevnik"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
        <package android:name="ru.vk.store"/>
        <intent>
            <action android:name="com.vk.push.HOST_SERVICE"/>
        </intent>
        <intent>
            <action android:name="com.vk.push.GET_DEVICE_ID"/>
        </intent>
        <intent>
            <action android:name="androidx.camera.extensions.action.VENDOR_ACTION"/>
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="ru.vk.store.provider.review.RemoteReviewFlowProvider"/>
        </intent>
        <intent>
            <action android:name="ru.vk.store.provider.analytics.AnalyticsProvider"/>
        </intent>
        <package android:name="ru.vk.store.qa"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="ru.vk.store.RequestIgnoreBatteryOptimizations"/>
        </intent>
        <package android:name="com.huawei.android.pushagent"/>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core"/>
        </intent>
        <package android:name="com.huawei.works"/>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission
        android:name="ru.mes.dnevnik.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="ru.mes.dnevnik.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <permission
        android:name="ru.mes.dnevnik.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signature"/>
    <permission
        android:name="ru.mes.dnevnik.permission.PUSH_PROVIDER"
        android:protectionLevel="signature"/>
    <permission
        android:name="ru.mes.dnevnik.permission.PUSH_WRITE_PROVIDER"
        android:protectionLevel="signature"/>
    <uses-permission android:name="ru.mes.dnevnik.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="ru.mes.dnevnik.permission.PUSH_PROVIDER"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="ru.mes.dnevnik.MainApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false"/>
        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_color"
            android:resource="@color/notification_color"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color"/>
        <meta-data
            android:name="com.dieam.reactnativepushnotification.notification_foreground"
            android:value="false"/>
        <meta-data
            android:name="com.dieam.reactnativepushnotification.notification_color"
            android:resource="@color/white"/>
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions"/>
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher"/>
        <receiver
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:label="@string/app_name"
            android:name="ru.mes.dnevnik.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/scheme_uri"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.reactnativecommunity.webview.RNCWebViewFileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
        <service android:name="com.huawei.hms.p015rn.push.services.MessagingHeadlessService"/>
        <service
            android:name="com.huawei.hms.p015rn.push.remote.HmsPushMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true"/>
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="false"/>
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="true"/>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>
        <provider
            android:name="io.invertase.firebase.crashlytics.ReactNativeFirebaseCrashlyticsInitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.reactnativefirebasecrashlyticsinitprovider"
            android:initOrder="98"/>
        <service
            android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingHeadlessService"
            android:exported="false"/>
        <service
            android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value=""/>
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true"/>
        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="false"/>
        <meta-data
            android:name="app_data_collection_default_enabled"
            android:value="true"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:io.invertase.firebase.app.ReactNativeFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
            android:name="io.invertase.firebase.app.ReactNativeFirebaseAppInitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.reactnativefirebaseappinitprovider"
            android:initOrder="99"/>
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"/>
        <provider
            android:name="com.ReactNativeBlobUtil.Utils.FileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <provider
            android:name="com.vinzscam.reactnativefileviewer.FileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_viewer_provider_paths"/>
        </provider>
        <provider
            android:name="com.reactnative.ivpusic.imagepicker.IvpusicImagePickerFileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ivpusic_imagepicker_provider_paths"/>
        </provider>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.yalantis.ucrop.UCropActivity"/>
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES"/>
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value=""/>
        </service>
        <activity
            android:name="com.proyecto26.inappbrowser.ChromeTabsManagerActivity"
            android:exported="false"/>
        <service
            android:name="com.rustorepush.RustorePushService"
            android:exported="true">
            <intent-filter>
                <action android:name="ru.rustore.sdk.pushclient.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="ru.rustore.sdk.pushclient.params_class"
            android:value="com.rustorepush.RuStorePushClientParams"/>
        <provider
            android:name="cl.json.RNShareFileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.rnshare.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_download_paths"/>
        </provider>
        <provider
            android:name="expo.modules.filesystem.FileSystemFileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.FileSystemFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_system_provider_paths"/>
        </provider>
        <meta-data
            android:name="org.unimodules.core.AppLoader#react-native-headless"
            android:value="expo.modules.adapters.react.apploader.RNHeadlessAppLoader"/>
        <meta-data
            android:name="com.facebook.soloader.enabled"
            android:value="true"/>
        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data
                android:name="metrica:api:level"
                android:value="105"/>
        </service>
        <service
            android:name="com.yandex.metrica.ConfigurationService"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica">
            <meta-data
                android:name="metrica:configuration:api:level"
                android:value="3"/>
            <intent-filter>
                <action android:name="com.yandex.metrica.configuration.ACTION_INIT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.yandex.metrica.ConfigurationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica"/>
        <provider
            android:name="com.yandex.metrica.PreloadInfoContentProvider"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica"
            android:authorities="ru.mes.dnevnik.appmetrica.preloadinfo.retail"/>
        <provider
            android:name="ru.rustore.sdk.pushclient.provider.RuStorePushClientInitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.rustorepushclientinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <receiver
            android:name="ru.rustore.sdk.pushclient.internal.arbiter.ArbiterBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vk.push.ACTION_MASTER_HOST_UPDATE"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="androidx.camera.extensions.impl"
            android:required="false"/>
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <meta-data
            android:name="yandex.maps.runtime.stl.linkage"
            android:value="static"/>
        <service
            android:name="com.yandex.runtime.connectivity.internal.ConnectivityService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service
            android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.mlkitinitprovider"
            android:initOrder="99"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="com.bumptech.glide.integration.webp.WebpGlideModule"
            android:value="GlideModule"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="6.2.1"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <service
            android:name="io.appmetrica.analytics.internal.AppMetricaService"
            android:enabled="true"
            android:exported="false"
            android:process=":AppMetrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="io.appmetrica.analytics.IAppMetricaService"/>
                <data android:scheme="appmetrica"/>
            </intent-filter>
        </service>
        <provider
            android:name="io.appmetrica.analytics.internal.PreloadInfoContentProvider"
            android:enabled="true"
            android:exported="true"
            android:process=":AppMetrica"
            android:authorities="ru.mes.dnevnik.appmetrica.preloadinfo.retail"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <service
            android:name="com.google.firebase.sessions.SessionLifecycleService"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <service
            android:label="PersistableConfigSyncJobService"
            android:name="ru.rustore.sdk.remoteconfig.internal.controller.PersistableConfigSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider
            android:name="com.p019vk.push.core.deviceid.contentprovider.VkpnsDeviceIdContentProvider"
            android:exported="true"
            android:authorities="ru.mes.dnevnik.VkpnsDeviceIdContentProvider">
            <intent-filter>
                <action android:name="com.vk.push.GET_DEVICE_ID"/>
            </intent-filter>
        </provider>
        <service
            android:label="SendMetricsEventJobService"
            android:name="ru.rustore.sdk.metrics.internal.presentation.SendMetricsEventJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.ActivityLauncher.Transparent"
            android:name="ru.rustore.sdk.activitylauncher.RuStoreActivityLauncher"
            android:exported="false"/>
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.SentryInitProvider"/>
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.SentryPerformanceProvider"
            android:initOrder="200"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@b7b8ba75-c336-4dee-8e2a-64ef488e0218"
            android:value="ru.ok.tracer.crash.report.CrashReportInitializer"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@0d46a772-bffc-4ede-ac88-5dcaf5f822c1"
            android:value="ru.ok.tracer.disk.usage.DiskUsageInitializer"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@ca91e9e9-7a96-4187-9e35-2b2ef739f80f"
            android:value="ru.ok.tracer.profiler.sampling.SamplingProfilerInitializer"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@9d2c614d-0001-4434-ac26-86b4ec762c7f"
            android:value="ru.ok.tracer.profiler.systrace.SystraceProfilerInitializer"/>
        <provider
            android:name="ru.p031ok.tracer.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.tracer-startup"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@25573e8a-bb0f-473f-938a-ca5b3541bda1"
            android:value="ru.ok.tracer.utils.LoggerInitializer"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@e416cfb4-5661-4523-b12c-0ff4ccabd436"
            android:value="ru.ok.tracer.TracerInitializer"/>
        <meta-data
            android:name="ru.ok.tracer.startup.Initializer@c776f0d5-2110-4920-b53e-7b72536d8135"
            android:value="ru.ok.tracer.heap.dumps.HeapDumpInitializer"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <service
            android:name="com.burnweb.rnsendintent.RNSendIntentModule"
            android:exported="true"/>
        <provider
            android:name="com.burnweb.rnsendintent.FileProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <receiver
            android:name="com.huawei.hms.support.api.push.PushMsgReceiver"
            android:permission="ru.mes.dnevnik.permission.PROCESS_PUSH_MSG"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.huawei.hms.support.api.push.PushReceiver"
            android:permission="ru.mes.dnevnik.permission.PROCESS_PUSH_MSG"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.huawei.hms.support.api.push.service.HmsMsgService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushservice"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG"/>
                <action android:name="com.huawei.push.msg.PASSBY_MSG"/>
            </intent-filter>
        </service>
        <provider
            android:name="com.huawei.hms.support.api.push.PushProvider"
            android:readPermission="ru.mes.dnevnik.permission.PUSH_PROVIDER"
            android:writePermission="ru.mes.dnevnik.permission.PUSH_WRITE_PROVIDER"
            android:exported="true"
            android:authorities="ru.mes.dnevnik.huawei.push.provider"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:push"
            android:value="push:6.12.0.300"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:push:push"
            android:value="1"/>
        <activity
            android:name="com.huawei.hms.support.api.push.TransActivity"
            android:exported="false"/>
        <provider
            android:name="com.huawei.hms.aaid.InitProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.aaidinitprovider"
            android:initOrder="500"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:opendevice"
            android:value="opendevice:6.12.0.300"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:opendevice:push"
            android:value="1"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:base"
            android:value="base:6.12.0.300"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:base:hmscore"
            android:value="1"/>
        <meta-data
            android:name="availableLoaded"
            android:value="yes"/>
        <activity
            android:theme="@style/Base_Translucent"
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|locale"
            android:hardwareAccelerated="true">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity
            android:name="com.huawei.hms.activity.EnableServiceActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <provider
            android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"
            android:exported="false"
            android:authorities="ru.mes.dnevnik.AGCInitializeProvider"/>
        <service
            android:name="com.huawei.agconnect.core.ServiceDiscovery"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=103398301"/>
    </application>
</manifest>
